<div class="container padding">
  <div class="panel panel-info">
    <div class="panel-heading">Most Used Keywords</div>
          <table class="table">
            <thead>
                <tr>
                    <th data-field="keyword">Keyword</th>
                    <th data-field="counter">Amount</th>
                </tr>
            </thead>
            <%@sorted.each_with_index do |w,c|%>
            <tbody>
              <%=w%>
            </tbody>
            <%end%>
          </table>
  </div>
</div>