<div class="container padding">
  <div class="panel panel-info">
    <div class="panel-heading">Most Used Keywords</div>
          <table class="table">
            <thead>
                <tr>
                    <th data-field="link_id">Link</th>
                    <th data-field="comments">Comments</th>
                </tr>
            </thead>
          </table>
  </div>
</div>