<html>
<head>
	<title>RedditLysis</title>
</head>
<div class="container padding">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">RedditLysis</h3>
	  </div>
	  	<div class="panel-body">
			<div id="site-content">
				<div class="row">
				  <div class="col-lg-6 center">
				  <%= form_for @link do |f| %>
				  <div class="input-group">
				  <%= f.text_field :url , :class => 'form-control' %>
     				 <span class="input-group-btn">
        				<%= f.submit 'Search', :class => "btn btn-info"  %>
      				</span>
      				<% end %>
      				</div>
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div>
		</div>
	</div>
</div>
<body>
<div id="results">
</div>
</body>
</html>


