<html>
<head>
	<title>RedditLysis</title>
</head>


<h1>
RedditLysis
</h1>

<div id="site-content">
    <form name="RedditSearch" method="post"><b>Reddit Lysis</b>

        <input type="text" id="query" size="150" />
        <input type="button" id="buttonsearch" value="Search" />
    </form>

    <div id="results"></div>
</div>


<body>
<div id="results">
	</div>
</body>
</html>


